---

import Template from "../layouts/template.astro"
import Reviews from "../components/dynamic/reviews.jsx"
import LandingProducts from "../components/dynamic/landing-products.jsx"

---

<Template>
	<img 
		src="https://wallpaperbat.com/img/373004-culinary-wallpaper-shocking-culinary.jpg"
		class="absolute top-0 left-0 w-full h-[850px] z-[-1] object-cover select-none"
		draggable="false"
	/>

	<main class="mt-10 w-[1100px] bg-white px-10 rounded"> 
		<div class="flex my-12 items-center">
			<section class="flex flex-col">
				<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Degustando el Arte de la <span class="underline underline-offset-3 decoration-8 decoration-red-400">Exquisitez</span></h1>
				<p class="text-lg font-normal text-gray-500 mt-5 lg:text-xl">Donde Cada Bocado es una Experiencia Extraordinaria.</p>
			</section>
	
			<img 
				src="https://static.vecteezy.com/system/resources/previews/021/333/207/original/white-plate-with-food-isolated-on-a-transparent-background-png.png"
				class="w-[450px]"
				draggable="false"
			/>
		</div>

		<LandingProducts client:load />

		<section class="mt-10">
			<h2 class="text-4xl">
				Opiniones de nuestros clientes
			</h2>

			<p class="text-md mt-3 text-red-500">
				La experiencia y satisfacción de nuestros clientes es lo más importante para nosotros.
			</p>
		</section>

		<Reviews client:load />

		<div class="border-b mt-32 mb-10 pb-7 flex items-center justify-between">
			<section>
				<h2 class="text-4xl">
					¿Quieres que te contactemos?
				</h2>
	
				<p class="text-md mt-3 text-red-500">
					Deja tu correo y te contactaremos lo antes posible.
				</p>
			</section>

			<div class="border border-black flex items-center gap-5 px-4 py-3">
				<span class="material-symbols-outlined">
					email
				</span>

				<input
					type="text"
					placeholder="Dirección de correo"
				/>
			</div>
		</div>

		<div class="mb-20 flex justify-center items-center">
			<section class="flex flex-col gap-3 px-10 border-r h-[200px] justify-center">
				<h2 class="text-4xl font-extrabold">
					Dirección
				</h2>

				<p>Plaza Cataluña, 20, Barcelona</p>
			</section>

			<section class="flex flex-col gap-3 px-20 border-r h-[200px] justify-center">
				<h2 class="text-4xl font-extrabold">
					Horario
				</h2>

				<div class="flex gap-5 items-center">
					<p class="flex-1">Lunes a Viernes</p>
					
					<div class="flex items-center gap-2">
						<span class="bg-gray-100 px-2 py-1">
							10:00
						</span> 
						
						- 

						<span class="bg-gray-100 px-2 py-1">
							22:00
						</span>
					</div>
				</div>

				<div class="flex gap-5 items-center">
					<p class="flex-1">Sábado</p>
					
					<div class="flex items-center gap-2">
						<span class="bg-red-400 text-white px-2 py-1">
							13:00
						</span> 
						
						- 

						<span class="bg-red-400 text-white px-2 py-1">
							24:00
						</span>
					</div>
				</div>

				<div class="flex gap-5 items-center">
					<p class="flex-1">Domingo</p>
					
					<div class="bg-orange-400 text-white px-2 py-1">
						Cerrado
					</div>
				</div>
			</section>

			<section class="flex flex-col gap-3 px-10 h-[200px] justify-center">
				<h2 class="text-4xl font-extrabold">
					Contáctanos
				</h2>

				<p>contacto@restaurantesluxe.com</p>
			</section>
		</div> 
	</main>

	<style>
		input:focus {
            outline: transparent !important;
        }
	</style>
</Template>
