---

import Template from "../layouts/template.astro";
import Products from "../components/dynamic/products.jsx";
import ShoppingCart from "../components/dynamic/cart.jsx";

---

<Template>
    <img 
		src="https://wallpaperbat.com/img/373004-culinary-wallpaper-shocking-culinary.jpg"
		class="absolute top-0 left-0 w-full h-[850px] z-[-1] object-cover select-none"
		draggable="false"
	/>

	<main class="mt-10 flex gap-10"> 
		<Products 
			client:load
			extend={ true }
		/>

		<ShoppingCart client:load />
	</main> 
</Template>