<nav class="w-screen py-5 px-7 flex items-center justify-between border-b bg-white">
    <h2 class="text-2xl">
        Luxe Restaurant
    </h2>

    <ul class="flex gap-5">
        <li>
            Inicio
        </li>

        <li>
            Carta
        </li>

        <li>
            Idioma
        </li>
    </ul>

    <style>
        @font-face {
            font-family: dancing;
            src: url('/assets/fonts/dancing.ttf');
        }

        h2 {
            font-family: dancing;
        }
    </style>
</nav>