--- 

import Header from '../components/header.static.astro'

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons" />
        <link href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap" rel="stylesheet" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <title>Lux | Restaurant</title> 
    </head>

    <body class="bg-main text-black flex flex-col items-center">
        <Header />

        <slot />

        <footer class="w-full text-gray-700 text-center py-7 border-t">
            @ 2024 Lux Restaurant, All rights reserved
		</footer>
    </body> 

    <style> 
        html, body {
            padding: 0;
            margin: 0; 
        }

        * {
            font-family: figtree; 
            overflow-x: hidden;
        }

        *:focus {
            outline: transparent;
        } 

        *::-webkit-scrollbar {
            display: none !important;
        }

        * {
            -ms-overflow-style: none !important;
            scrollbar-width: none !important;
        }
    </style>
</html>